<!DOCTYPE html>
<html lang="en" ng-app="books-crud-lab">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular-books-crud-lab</title>

    <!-- STYLESHEETS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
            
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/BooksIndexController.js"></script>
    <script src="/scripts/controllers/BooksShowController.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col m12">
          <p>Test run</p>
        </div>
      </div>
    </div>
  </body>
</html>